.hero {
  margin: 2rem auto 6rem;
}

.heroContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userProfileImg {
  width: 6rem;
  height: 6rem;
}

.userName {
  margin: 1.2rem 0 2rem;
}

@media screen and (max-width: 768px) {
  .userProfileImg {
    width: 4rem;
    height: 4rem;
  }

  .userName {
    font-size: 1.4rem;
  }
}
