footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.text {
  font-family: "Arial";
  line-height: normal; /* 142.857% */
  color: #676767;
}

.footerTexts {
  display: flex;
  gap: 3rem;
}

.iconContainer {
  display: flex;
  gap: 1.2rem;
  justify-content: end;
  width: 2rem;
  height: 2rem;
}
