footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 10.4rem 0;
  width: 144rem;
  height: 16rem;
}

.text {
  flex-basis: 18rem;
}

.text,
.centerText {
  font-family: "Arial";
  line-height: normal; /* 142.857% */
  color: #676767;
}

.footerTexts {
  display: flex;
  gap: 3rem;
  flex-basis: 18rem;
}

.iconContainer {
  display: flex;
  gap: 1.2rem;
  justify-content: end;
  flex-basis: 18rem;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    flex-wrap: wrap;
    padding: 3.2rem;
    justify-content: space-between;
  }

  .text {
    display: flex;
    order: 3;
    align-items: end;
  }

  .centerText {
    color: #cfcfcf;
  }

  .iconContainer {
    display: flex;
    justify-content: end;
    flex-basis: 50%;
  }
}
